---
layout : ecu
title : Founding - ECU Centennial Exhibit
---

{% include breadcrumbs.html %}

<h2>The Founding of East Carolina Teachers Training School</h2>

<p>
   The debate over and the beginnings of the ECTTS go back to 1901 when the city of Wilson petitioned the
   General Assembly to establish a normal school there. This petition was rejected. By 1905 there was
   growing support in the East for a normal school. Citizens from Elizabeth City petitioned the General
   Assembly to establish a school there. Again, the petition was rejected.
</p>
<p>
   Support continued to grow steadily in the East. On January 30, 1907, James L. Fleming sponsored "A Bill to Establish and Maintain a Normal School in Eastern North Carolina." His bill called for an initial appropriation of $30,000 to construct buildings and $10,000 for maintenance. On March 8th, 1907 the Act to Stimulate High School Instruction in the Public Schools of the State and Teacher Training passed, establishing the East Carolina Teachers Training School.
</p>
<p>
   The next step was to determine where this school would be built. Several towns bid on the school:
</p>
<table class="table table-striped">
   <tr>
      <td>Washington</td>
      <td>$75,000 and the choice of two sites, 200 acres or 133 acres;</td>
   </tr>
   <tr>
      <td>Elizabeth City</td>
      <td>$62,5000 and 25 acres;</td>
   </tr>
   <tr>
      <td>Kinston</td>
      <td>$25,000 in secured bonds, free water and electricity for 10 years, 87 acres and the Rhodes Military School;</td>
   </tr>
   <tr>
      <td>New Bern</td>
      <td>$25,000 and 25 acres;</td>
   </tr>
   <tr>
      <td>Rocky Mount</td>
      <td>$25,000 and 40 acres;</td>
   </tr>
   <tr>
      <td>Tarboro</td>
      <td>$30,000, free utilities for 10 years and choice of two sites, 40 acres or 25 acres;</td>
   </tr>
   <tr>
      <td>Edenton</td>
      <td>$25,000 and 35 acres</td>
   </tr>
   <tr>
      <td>Greenville</td>
      <td>$100,000 less the cost of land and bond election expenses. </td>
   </tr>
</table>

<p>
   The State Board of Education toured the sites in June 1907. On July 10th a meeting was held in Raleigh. The representatives of the towns made their petitions once again. The board then went into closed session to further discuss the options and vote.
</p>

<p>
   The first ballot returned the following results:<br/>
   Greenville - 1<br />
   Rocky Mount - 2<br />
   Kinston - 3
</p>
<p>
   The second ballot returned these results:<br />
   Greenville -2<br />
   Rocky Mount - 2<br />
   Kinston -2
</p>
<p>
   On the third ballot Greenville was selected with the following result:<br />
   Greenville - 4<br />
   Kinston - 2
</p>
<p>
   On March 15, 1907 the Board of Trustees were selected. Thomas J. Jarvis was unanimously selected as chairman. The board held its first meeting on March 11, 1908, a full year after East Carolina Teachers Training School received its charter. The board appointed an executive committee to secure land and hire architects. Work continued through the spring. Thomas J. Jarvis and a small group held the groundbreaking ceremonies on the site of what is now Jarvis Hall. Work began in earnest.
</p>
<p>
   On June 11th Robert Herring Wright was elected president of the school. He began immediately assembling the faculty. The first faculty consisted of Mamie Jenkins, Sallie Joyner Davis, Maria Daniel Graham, Kate W. Lewis, William H. Ragsdale, Birdie McKinney, Claude W. Wilson, Jennie M. Ogden, Fannie Bishop and Herbert E. Austin. Pattie Simmons Dowell was the first student to enroll on October 5, 1909. She also requested to be allowed to be the first to receive a diploma two years later when the class graduated.
</p>
<p>
   The school continued to grow steadily, adding students, faculty and buildings through 1921 when the school became East Carolina Teachers College.
</p>
