---
layout : ecu
title : Founding - ECU Centennial Exhibit
---

{% include breadcrumbs.html active="founding" %}

<h2>Founding</h2>

<p>
   In 1901 the city of Wilson petitioned the North Carolina legislature asking that their city be the
   site for a state teacher training school for the eastern counties. Wilson was a likely site with
   its large tobacco market, thriving center of transportation, and its offer to transform the handsome
   buildings at Kinsey Seminary into the new normal school. In the several years that followed the
   rejection of this initial proposal for an eastern normal, 8 additional towns joined in the fray for
   the schools location. Major players involved local prominent citizens and city and state legislators
   to push their cause forward. In 1907, in a final round of voting to select the site for an eastern
   normal, the State Board of Education chose Greenville over Kinston. Greenville provided the largest
   bond support of all the towns bidding for the school. With a population of approximately 4,500 people,
   Greenville offered a stop on the railroad, steamboat traffic along the Tar River, and a Western Union
   office, as well as Home Telephone and Telegraph. Greenville was an up and coming community and the
   perfect location for the East Carolina Teachers Training School.
</p>

<p><a href="founding2.html">Read more about the Founding of East Carolina Teachers Training School</a></p>

<hr/>

<table class="table">
  {% assign items = site.founding | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td><a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>  </td>
  </tr>
  {% endfor %}

</table>
