---
layout : ecu
title : First Gradustion - ECU Centennial Exhibit
---

{% include breadcrumbs.html active="graduation" %}

<h2>First Graduation</h2>

<p>
   Once ground was broken, Robert H. Wright was named President, students both
   male and female registered for classes in 1909, and initial buildings
   including Jarvis Dormitory, Old Austin, and the Refectory (Dining Hall) were
   constructed, the first graduation took place in May 1911. Students began
   publications, sports activities and developed an interest in theatre arts.
   With the initial graduation, this eastern normal school, officially called
   East Carolina Teachers Training School had begun to develop the qualities
   that would strengthen and grow through the years.
</p>

<hr/>

<table class="table">
  {% assign items = site.graduation | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td><a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>  </td>
  </tr>
  {% endfor %}

</table>
