---
layout: ecu
title: Home - ECU Centennial Exhibit
---

{% include breadcrumbs.html active="home" %}

<h1>ECU Centennial Digital Exhibit</h1>
<hr/>
<p>
   The idea for an eastern normal school came up first in Wilson in 1901 in a bill which was rejected.
   It developed into a contest between 9 towns and finally resulted in the successful bid of Greenville
   and Pitt County in 1907. Close to the 100th Anniversary of the school now, the following exhibit
   will walk with you in the footsteps of faculty, students and supporters through the founding and
   first graduation and continue on through the years of its development.
</p>

<p>
   For ease of navigation within this exhibit, the digital resources have been grouped into categories:
</p>

<div class="row categories">
   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="founding.html">Founding</a></div>
      <div class="panel-body">
        <a href="founding.html"><img class="img-responsive thumbnail" src="img/seal.jpg"/></a>
      </div>
    </div>

   </div>
   <div class="col-xs-12 col-sm-4">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="graduation.html">Graduation</a></div>
      <div class="panel-body">
        <a href="graduation.html"><img class="img-responsive thumbnail" src="img/graduation.jpg"/></a>
      </div>
    </div>
   </div>
</div>

<div class="well">
   <p>
      You can find thousands of additional documents about the history of East Carolina University digitized
      in our <a href="http://digital.lib.ecu.edu">Digital Collections</a>.
   </p>
</div>
