<ul class="breadcrumb">

  {% if include.active == "home" %}
    <li class="active">Home</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
  {% endif %}

  {% if include.active == "founding" %}
    <li class="active">Founding</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/founding.html">Founding</a></li>
  {% endif %}

  {% if include.active == "graduation" %}
    <li class="active">First Graduation</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/graduation.html">First Graduation</a></li>
  {% endif %}

</ul>
