---
layout: ecu
title:  "Pattie Dowell"
customdate: "1969 November 6"
order: 10
---

{% include breadcrumbs.html %}

<h3>Edward Brodie, "Pattie Dowell--East Carolina's First", <em>The Fountainhead</em>, 6 November 1969</h3>

<p>
  First to register in 1909 Pattie Dowell began the YWCA program at ECTTS. First to graduate in 1911, she taught school in Murphy, NC before returning to ECTS in 1924 as a 7th grade critic teacher. Dr. Dowell continued her studies receiving a B.S. from Peabody College, Nashville, TN in 1927, a M.S. from N.C. State in 1933 and an Ed.D. from N.Y.U. in 1945. She became a professor of Home Economics at East Carolina College before retiring in 1960.
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>Pattie Dowell - East Carolina's first</p>

<p>By EDWARD BRODIE</p>

<p>Pattie Simmons Dowell was East Carolina's first student. She was first to register and first to graduate. In fact, she holds so many "firsts" no one has bothered to count most of them.</p>

<p>Miss Dowell decided she wanted to be a teacher after two years in a denominational college, and none in high school. So, she took 18 examinations and obtained her certificate.</p>

<p>Her cousin, however, convinced her that she did not know enough to teach, and should enroll in the new teachers training school opening in Greenville. This she did, becoming the first to do so.</p>

<p>"Everything was crude when we first arrived," Miss Dowell recalls. "Building materials were still lying around the grounds. I don't even think we had window screens for a long time."</p>

<p>In the first few days, the students got acquainted and familiarized themselves with their surroundings.</p>

<p>"We had to get curtains and pillows, and water for the bowl and pitcher sets in our rooms," she says.</p>

<p>Dinner in those days was served, and the students sat six to a table.</p>

<p>"We chose our table next to the door,'. she said, "but they made us change tables every month in order to get us better acquainted."</p>

<p>In order to work in the full necessary course in two years, work was assigned at 25 class-hours per quarter. The students had so much work to do there was hardly time for anything else.</p>

<p>When asked about extracirrucular activities, Miss Dowell responded simply, "There were none."</p>

<p>"There were men enrolled, but there was almost no exchange between them and us girls," she says. "Besides, they weren't as dedicated to teaching as we were." Everyone was expected to present the neat, well-groomed appearance that teachers should and remember that they were representatives of East Carolina.</p>

<p>"Our whole problem was that we were first," she says. "Everything we did we had to keep in mind we were setting precedents. We were always reminded that the reputation of the college was at stake."</p>

<p>Miss Dowell, who is now retired and living in Raleigh, still has strong recollections of her days as a student at East Carolina, especially of the faculty.</p>

<p>"There was not a single member of that first faculty that we (lid not totally respect. They were all the greatest people in the world, and ready to hell) us anytime we wanted them to -- and we always needed help."</p>

<p>Once, during a hookworm epidemic, all the girls had to go to the infirmary for a medical inspection. One of the girls complained to Claude Wilson, pedagogy teacher, that they were careless about where they asked the girls to undress for the inspection.</p>

<p>"Mr. Wilson listened, then put his arm around her shoulder and said 'Don't you worry, we'll take care of it! The carelessness stopped immediately."</p>

<p>Mr. Herbert Austin is another faculty member that Miss Dowell remembers.</p>

<p>"He was way ahead of his time," she says of him. "He taught units that became popular years later and used slides as illustrations. I'll never know where he got the money or the materials, but he had slides to illustrate all the places he talked about."</p>

<p>Miss Dowell says that whenever she hears the russle of tafeta, she remembers lying awake after "lights out" listening to the russle as Mrs. Beckwith, lady principal, walked down the halls in her tafeta skirt to see that all was put away for the night.</p>

<p>"One evening Mrs. Beckwith came up to me and said, 'Your father was a minister, you should do something on this campus to let your light shine. Think about it."</p>

<p>So, Miss Dowell says, she thought. Then she went around to each girl's room and asked who wanted to help form a YWCA. At the organization meeting, she, as founder, was given the honor of being the first president. </p>
  <p>
    <a href="{{ site.baseurl }}/img/brod/3BROD001.jpg">
      <img src="{{ site.baseurl }}/img/brod/7BROD001.jpg" alt="Pattie Dowell" class="img-responsive" />
    </a>
  </p>

<p>"I think the literary societies were formed in the same way," she says.</p>

<p>The plays given by these societies were about the only entertainment the students had.</p>

<p>"I was in one of those plays," she says. "It was Proposal Under Difficulties, and I was doing the proposing. That was one time I got to wear slacks in spite of Mrs. Beckwith --only they were big clumsy baloon-like things, and it looked like a dress anyway."</p>

<p>In the spring of the first year, they began landscaping, painting red hawthorne, japonica, and cedar to emphasize the green of the grass and the red of the buildings.</p>

<p>When it came time for graduation, all the girls were responsible for making their own graduation dresses of white organdy Miss Dowell's dress was provided by her mother, cut just right, and decorated with blue ribbons.</p>

<p>"First, we had to go before Miss Mamie Jenkins for inspection," she says. "When she saw mine, she yelled 'Get the scissors! I did, and she cut every one of those blue ribbons and bows off my dress. Somehow to this day I cannot stand to wear blue ribbons."</p>

<p>Miss Dowell doesn't know why her name was called first at the graduation exercises. "It may have been because I was first to register, maybe I finished first, or maybe it was because of my grades, I don't know."</p>

<p>Miss Dowell returned to East Carolina as a seventh-grade critic teacher in 1924, and again as a professor in the Home Economics Department before retiring in 1960.</p>

<p>Fountainhead<br/>

Thursday, Nov. 6, 1969<br/>

Pages 13 and 15 </p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Edward Brodie,"Pattie Dowell--East Carolina's First," <em>The Fountainhead</em> (Greenville, NC), November 6, 1909.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Edward H. Brodie Collection, #132.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0132">View Collection Guide</a></td>
  </tr>
</table>
