---
layout: ecu
title:  "Commencement Program"
customdate: "1911"
order: 8
---

{% include breadcrumbs.html %}

<h3>[Commencement Program], 1911</h3>

<p>
The program includes the class roll of graduating student and the order of exercises. Marshalls were usually an honorary position made up of underclassmen whose function was to escort family & friends of the graduates to their seats.
</p>

  <label>Text and Image(s) from Program</label><br/>

<b><a href="#transcription">Transcription for the images below:</a></b>
  
<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/comm/3comm001.jpg">
      <img src="{{ site.baseurl }}/img/comm/7comm001.jpg" alt="Page 1" class="img-responsive" />
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/comm/3comm002.jpg">
      <img src="{{ site.baseurl }}/img/comm/7comm002.jpg" alt="Page 2" class="img-responsive" />
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/comm/3comm003.jpg">
      <img src="{{ site.baseurl }}/img/comm/7comm003.jpg" alt="Page 3" class="img-responsive" />
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/comm/3comm004.jpg">
      <img src="{{ site.baseurl }}/img/comm/7comm004.jpg" alt="Page 4" class="img-responsive" />
    </a>
  </div>
</div>

<hr/>

<b id="transcription">Transcription for the images above:</b>

<p>
Marshals<br/>
Margaret Davis, Chief, Edgecombe County<br/>
Jennis A. Alexander, Tyrrell<br/>
Mary C. Johnston, Washington<br/>
Ethel Outland, Northampton<br/>
Emma Purvis, Halifax<br/>
Eula Proctor, Nash<br/>
Mary Rawls, Wilson<br/>
Juhn L. Rawls, Gates<br/>
Fannie Smith, Craven <br/>
</p>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>East Carolina University Archives</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>University Archives, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Commencement Programs, Publications</td>
  </tr>
</table>
