---
layout: ecu
title:  "Five Friends"
customdate: "c 1909"
order: 6
---

{% include breadcrumbs.html %}

<h3>[Five Friends], circa 1909</h3>

<p>
  A group of five friends who were students at the eastern normal school in those initial years. Front row left to right: Lizzie Burney, Carrrie Chapman and Rosa Whitaker. Back row left to right: Julia Burney, Lelah Roach.
</p>
  <p>
<a href="{{ site.baseurl }}/img/five/3five001.jpg">
      <img src="{{ site.baseurl }}/img/five/7five001.jpg" alt="Five Friends" class="img-responsive" />
    </a>
  </p>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>["Five Friends"], The Ralph Tucker Family, circa 1909.</td>
  </tr>

</table>
