---
layout: ecu
title:  "Invitation for Third Anniversary of the Groundbreaking"
customdate: "1911"
order: 9
---

{% include breadcrumbs.html %}

<h3>[Invitation to the Celebration of the Third Anniversary of the Groundbreaking for the ECTTS Building, 1911</h3>

<p>
This anniversary of the 1908 groundbreaking was held after the first graduation in May and after the first four buildings had been constructed and currently were being used.
</p>

  <label>Text and Image(s) from Program</label><br/>

<b><a href="#transcription">Transcription for the images below:</a></b>
  
<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/invi/3INVI001.jpg">
      <img src="{{ site.baseurl }}/img/invi/7INVI001.jpg" alt="Page 1" class="img-responsive" />
    </a>
  </div>
</div>

<hr/>

<b id="transcription">Transcription for the images above:</b>

<p>You are cordially invited to attend the Celebration of the Third Anniversary of the Breaking of Ground for the Building of The East Carolina Teachers Training School</p>


<p>Ten -thirty A.M. Friday, June 30, 1911</p>


<p>The Summer Term of the School will be in session</p>


<p>Appropriate addresses will be delivered by</p>


<p>Governor Kitchin and other distinguished speakers</p>


<p>Greenville, North Carolina 1908-1911 </p>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>East Carolina University Archives</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>University Archives, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Commencement Programs, Publications</td>
  </tr>
</table>
