---
layout: ecu
title:  "Robert Wright with Students"
customdate: "1909"
order: 2
---

{% include breadcrumbs.html %}

<h3>Robert Wright with Students, 1909</h3>

<p>
  Robert H. Wright posing with 12 women students and/or faculty. Neg. #B0020
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>
<a href="{{ site.baseurl }}/img/pa41/3pa41001.jpg">
      <img src="{{ site.baseurl }}/img/pa41/7pa41001.jpg" alt="Robert Wright with Student" class="img-responsive" />
    </a>
  </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>University Archives, print number pa41, negative number B0020, ECU/04/SA/.5/1909.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>University Archives, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>ECU/04/SA/.5/1909</td>
  </tr>
</table>
