---
layout: ecu
title:  "Commencement Photo"
customdate: "1911"
order: 7
---

{% include breadcrumbs.html %}

<h3>[Commencement Photo], 1911</h3>

<p>
  Men seated in front row left to right: Mr. Shore, Robert H. Wright, Thomas J. Jarvis, Mr. Davis and J.Y. Joyner. Note on the back that Josephus Daniel is speaking. There is a blurry spot on the photograph that is probably Mr. Daniels, moving while the photograph was being taken. Neg. #B0929
</p>
  <p>
<a href="{{ site.baseurl }}/img/pa53/3pa53001.jpg">
      <img src="{{ site.baseurl }}/img/pa53/7pa53001.jpg" alt="Commencement" class="img-responsive" />
    </a>
  </p>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>University Archives, print number pa53, negative number B0929, ECU/06/A/.1/1911.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>University Archives, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>ECU/06/A/.1/1911</td>
  </tr>
</table>
