---
layout: ecu
title:  "Student Body and Faculty"
customdate: "1909"
order: 3
---

{% include breadcrumbs.html %}

<h3>Student Body & Faculty, 1909</h3>

<p>
  Students and faculty in 1909 standing on the steps of Old Austin. Neg. # B0045
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>
<a href="{{ site.baseurl }}/img/pa74/3pa74001.jpg">
      <img src="{{ site.baseurl }}/img/pa74/7pa74001.jpg" alt="Student Body and Faculty" class="img-responsive" />
    </a>
  </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>University Archives, print number pa74, negative number B0045, ECU/04/SA/1909/.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>University Archives, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>ECU/04/SA/1909/</td>
  </tr>
</table>
