---
layout: ecu
title:  "ECTTS Faculty"
customdate: "1909"
order: 1
---

{% include breadcrumbs.html %}

<h3>ECTTS Faculty, 1909</h3>

<p>
  Front row: Claude W. Wilson, Jennie M. Ogden, Fannie Bishop, Herbert E. Austin, Robert H. Wright. Middle row: Maria D. Graham and Mamie E. Jenkins. Back row: Kate W. Lewis, William H. Ragsdale, Birdie McKinney and Sallie Joyner Davis. Neg. # B0058
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>
<a href="{{ site.baseurl }}/img/pa79/3pa79001.jpg">
      <img src="{{ site.baseurl }}/img/pa79/7pa79001.jpg" alt="ECTTS Faculty" class="img-responsive" />
    </a>
  </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>University Archives, print number pa79, negative number B0058, ECU/04/F/1909/.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>University Archives, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>ECU/04/F/1909/</td>
  </tr>
</table>
