---
layout: ecu
title:  "President Robert H. Wright's Inaugural Address"
customdate: "1909 November 12"
order: 4
---

{% include breadcrumbs.html %}

<h3>Robert H. Wright, "President Robert H. Wright's Inaugural Address", 12 November 1909</h3>

<p>
  This speech was given by Robert Wright upon his installation as president of East Carolina Teachers Training School, November 12, 1909. This and other speeches may be found in Record Group CH1050, Series 2, Subseries 1, Box 1, Folder 1, in the University Archives.
</p>
<div class="well">
  <label>Text from Manuscript</label>
<p>President Robert H. Wright's Address Upon His Official Installation at E.C.T.T.S</p>

<p>By Robert H. Wright</p>

<p>November 12, 1909</p>

<p>Standing here as I do upon the threshold of a new institution, established by our State to meet a growing need of our civilization, it is not strange if I see visions and dream dreams. And yet it is not a vision or a dream to which I would call your attention.</p>

<p>Perusing the pages of our State's history I find, by act of the General Assembly of the Commonwealth of North Carolina one hundred twenty two years ago, provision was made for the establishment of a "Seminary of Learning at Greenville, lately called Martinborough in the county of Pitt." It may be interesting to note that this institution of learning established in 1787 was in some respects similar to the school in which we are today assembled.</p>

<p>A. It was established by act of the General Assembly. So was this school.</p>

<p>B. It had a Board of Trustees with powers very similar to those given to the Board of Trustees of this school.</p>

<p>C. The certificate to be granted was almost identical with the one to be granted by this school.</p>

<p>D. It was also provided "that this Seminary shall not be construed one of those mentioned or intended by the Constitution."</p>

<p>This was the Halifax constitution of 1776 which made provision for a State system of public schools and a State University. This institution is not one of these schools, when the facts rise up before me, and I recall the trying times in which these men lived and see it written: "Whereas liberal subscriptions have been made" for the establishment of that school at a time when North Carolina was a sovereign government, not having joined the Union, I see in this school not a vision nor a dream but the fulfillment of a prophecy. Young though we are, yet in a sense we are one of our State's oldest institutions, I realize, however, that the East Carolina Teachers' Training School is not a lineal descent of the Pitt Academy, but a younger sister borne of the same parentage and located in the same community. All honor to our ancestors who realized that "the proper education of youth is essential to the happiness and prosperity of every community, and therefore, worthy the attention of the Legislature." And all honor to our own people who still realize that the "proper education of Youth" is essential to the happiness and prosperity of every community.</p>

<p>But on an occasion of this kind it is fitting that we give serious study to some State or National problem and I address myself to this serious task instead of strolling through the flower gardens of rhetoric and gathering posies for the purpose of pleasing those present.</p>

<p>We, a company of American citizens, have met together today. Let us turn our attention for a few minutes to the question, What is America? For what do we stand? Every nation that has ever been upon earth has stood for some ideal. Civilization has advanced by the maintenance clash and ultimate confluence of these ideals.</p>

<p>The little stream beginning on a mountaintop winds its way down the mountainside, is joined by other streams until it becomes a mighty river, bearing upon its bosom a world's freight for humanity; so with civilization, beginning with the dawn of God's creation of man has trickled down the ages, joined here by a national ideal and there by a national ideal until today we have the mighty stream of civilization bearing upon its bosom all the nations of the world. Each nation of the past has been but a rivulet of ideals emptying into the stream of advancing civilization, but each has added something to the power of the stream. What has America contributed? For what do we stand? Before answering this, let us glance for an instant at other nations. The Greeks, the Hebrews, the Romans and the English each represent a type of mankind. Each was homogenous and therefore, thought alike. America on the other hand was from the beginning and now is the most heterogeneous nation ever found upon the earth. We are made up practically of every type of mankind. We are indeed a people peculiar to ourselves. The world has never before seen a nation composed as we are, and yet we are as truly a nation as any upon the earth. The ideal that holds us together must be an ideal that appeals to all mankind. The ideal of the Greeks was the beautiful; of the Hebrews, religion; of the Romans, law; of the English, individual freedom; of America, political freedom. We stand for a form of government in which the governed have absolute say, both as to the form of constitutional law and the kind of administrative laws. That this ideal make itself felt, it is not necessary for other governments to take on the form of government found in America. The distinction is of a finer nature. There is a difference between political freedom and individual freedom, Political freedom "is the power of the people themselves to determine what form of government shall be established and what shall be its power." Individual freedom is that, "security derived from the law whereby one is protected by the government from the violence of other individuals." In the United States, all the male citizens over twenty-one years of age have political freedom, while all other citizens have only individual freedom. The ideal, therefore, that America has contributed to the stream of human civilization, is political freedom. We are the most individualistic people upon the earth, and as long as our present ideal dominates, we can never have a national or state religion. So long as the ideal that now rules lives, we, as a nation, are secure, and will be until this ideal dies and another takes its place as the central thought in our life. If this ever happens, and God forbid that it should, then we will follow the new ideal until it, in its turn, is emptied into the great stream of life. But if a new ideal comes, we will become a new nation and the America of today will be found in the archives of the world's past to be studied by the new nation just as you and I studies the Rome of the Caesers.</p>

<p>Turning now from the theoretical speculations of an uncertain future to the stern realities of today. What does this ideal demand of American citizenship? By it, we have thrown open the gates of our land to suffering humanity practically the world over and there is pouring unto our midst a constant stream of mankind alien to our ideal, out of touch with us at almost every point of our national life. The great problem for us therefore, is to keep the rising generations in touch with our ideal and to convert our immigrant population to our way of thinking. This is the most stupendous task ever yet undertaken by a nation. Here and here alone do we find justification for the expenditure of public funds for public education. Indeed, first duty is to make true, as well as to make good American citizens. An ideal like ours calls for the highest type of mankind. If the body politic is to be the final judge in all matters, state and national, then that body must be of a high order of man. In other words, we have emptied into the stream of civilization an ideal that, to live, will impel a rapid advance of civilization. This ideal will live and mankind will therefore make more rapid strides in civilization than has ever before been known. Yet, if we would keep the fire burning on our atlas, we must foster public education. The time will soon come when the children in our land will be forced to attend school and it would be better still were, they by law, made to attend the public schools. Public school teachers must be paid better salaries and the requirements for the practices of the profession must be rigid that only the efficient will be licensed.</p>

<p>Resting as this government does solely upon the heads of an intelligent citizenship, its safety and security depend upon the standard of living of the average citizen. If factional jealousy or sectional spirit ever dominates national loyalty, then we are confronted with a most serious danger. But so long as our ideal is held close to the hearts of the people, we may rest assured that our ship of state will sail on and that our nation will remain both strong and great.</p>

<p>But while I have an unshaken and an undying faith in the spirit American, with an almost unlimited confidence in the people of our land, I fully realize that to keep our ideal as an active factor in our national life, it must be constantly renewed in the life of rising generation, new immigrants must be constantly and properly infected by means of public education, either in the public schools or by contagion of those with whom they associate. This ideal must permeate all Americans and the best way is through our public schools.</p>

<p>Public schools, therefore, should be filled with public spirit and free from partisan politics. It is, as I see it, the duty of every loyal American to give of his time and substance to the betterment of our school system. It is the duty of each community to make its public schools the center of its local patriotic life, Just as the temple was the center of life for the Hebrews and the forum the center of Roman life, so the public school must be the center of American life. And it is.</p>

<p>Here in our public schools, the parents should meet together on equal footing and thus the community become more thoroughly democratized. The present tendency in some localities to make our schools only a place for the dispensing of information to the young is wrong. Each school should be a center for the life of a given community. Employer and employee should meet here on equal terms; for here we have a common interest.</p>

<p>Today, American life is trying to organize itself. Clubs and organizations are almost innumerable. Every community is literally teaming with organizations, such as book clubs, sewing circles, purely social organizations, of a part only if the community, whist clubs, political clubs, church clubs, labor organizations, combinations of capital and on through a variety of organizations that if enumerated would lead one to think that we are as a people one series of organizations. What does this all mean? Only an attempt upon the part of Americans to center their life around some norm. The salvation of our ideal depends upon the centering of our life in the temple of our national greatness -- our public schools.</p>

<p>When the people of our land awake to a full realization of what our schools mean to us as a people, then the profession teaching will no longer be looked upon as simply a means of livelihood, but as the guardian of American life and the shaper of American destiny. In this profession, should be drawn the purest, the noblest, and the best of American talent. It is to be deplored greatly that the present day tendency is to drive young men of real worth from this field of national activity. It stands in our land second to no profession.</p>

<p>There are men in our nation who realize these facts and realizing them have given their lives to the work. They are the nation's public servants and the direct contributors to the world's advancing civilization.</p>

<p>The safety of our State government and the security of our homes depend upon the intelligence of our citizens. Intelligence is the world's most bitter enemy to crime and our nation's most secure safeguard. Our individual security and national greatness depend largely upon the average intelligence of our citizens. Never before has so much depended on the average intelligence. May we as a nation awake early to our great opportunity and to our national need. We are awake, for all over this land schoolhouses are springing up as if by magic, and our people are filling themselves full of our national ideal and they are spreading it to the four corners of the earth. It has swept over the world in wave after wave of revolution until all forms of tyrannical governments have passed from the face of civilization. The French Revolution in a succession of waves lasting to '76 was only the beating of this ideal upon the shores of the impetuous French. The same thing has taken place in Germany, Austria, Italy, Russia, Japan and Turkey. Before it, ignorance and superstition are disappearing and this old world is getting closer together. Never before was it so true that "Day unto day uttereth speech, and night unto night showeth knowledge," and that, "There is no speech no language, where their voice is not heard." We have cast into the stream of human civilization a current that will help to shape the destiny of the world and that is now lifting mankind to a higher plane of life and a more complete realization of God's plan for the universal brotherhood of mankind. For "If I am destined your lordling's slave, by nature's last designed; why was an independent wish e'er planted in my mind" This independent wish will here find its full realization and mankind will become nobler and better.</p>

<p>So rapid have been the strides of civilization during the past century that each rising generation finds it more and more difficult to keep a pace with the times. Just as sure as the sun rises in the east and sets in the west; just so sure the teachers of our children hold the destiny of our State in their hands. They are the guardians of our liberty, the protectors of our nation, the promoters of our civilization.</p>

<p>"There is a path which no foul knoweth. And which the vulture's eye hath not seen." Whoever looks into interstellar abysses knows that there is a highway, which even the spirit of man in its most daring dreams has not trod. Forever nature moves under the compulsion of power which man does not appraise. The wind bloweth where it listeth, beyond human law. And light that flashes through the universe is not kindled at man's forge.</p>

<p>And yet we are beginning to understand our kinship with the life that seems alien -- to understand that God and man are not divided by visible substance. The upward impulses of the race, finding expression in the beauty of art, the glory of ideals, and the triumphs of the spirit, attest that man is the moving instrument through which the divine becomes articulate.</p>

<p>There is something superior to the tenure of individual life. The music of Poe is greater than the frail tenement in which it sang. The thrush of today is dust tomorrow, but the choral song of birds is eternal. The statues of Praxiteles have perished, but the genius of the sculptor of Greece has animated all succeeding centuries. What we see of the man passes, as all things visible pass, but thought does not die. The temple of Solomon has vanished, but the wisdom of its builder is a part of the word that excites the worship of the world. This is the real temple of the great king of Israel.</p>

<p>Civilization is greater than its cathedrals of its cities. Shakespeare lived but a fitful day, and Aesop we never knew, but what they wrote is part of the literature that lives on. Similarly, (human) love is tragic in its incompleteness, but the love that animates mankind is infinite.</p>

<p>We are all a mystical and elemental part of the power that gives luster to a star, perfume to a flower, and melody to all life, but in reality we know little, if anything, of the cosmic secret of the soul. We are mendicants in the kingdom where we should be kings. In inattention to our inheritance, we are confronted by the sublime fact that life is greater than the living, for it outlives it.</p>

<p>There is indeed an infinite highway toward which the race forever moves, but whose supernal vistas it has not yet discerned. For that path -- the path of which Job in his vision dreamed - leads through the kingdom of heaven and eye hath not seen nor heard the wonder of that invisible world that perpetually surrounds our faltering the race. And yet to us,</p>

<p>The works of God are all for naught, Unless our eyes in seeing, See underneath the thing, the thought That animates its being.</p>

<p>The responsibilities of life that rest upon this generation are greater than the responsibilities that have ever been demanded before. It was in the conscious or unconscious realization of this fact that this school was established. Here we have built, at State expense, an institution to train young men and women to go forth in our land and help the youth of the rising generation to equip themselves better for the serious duties of the mature years. We are not here to destroy the old and accept only the new, but to build upon the past a structure, secure, safe and sane, to make this old world a better place in which to live, to help each generation the better to adjust itself to nature's laws -- the laws of God.</p>

<p>Education is in a sense adjustment. There is a spirit of the times, a vox populi, a substratum of thought that runs through the people of each generation, a steady current of life that impels men onward and upward, a great stream that moves slowly and steadily along carrying upon its bosom all of mankind; it is the spirit of the age. It controls our social and economic relations, shapes our ideal of right and wrong, yea, it even controls our destiny, for it is the voice of God to His people, and true education is proper, adjustment of each generation to this voice.</p>

<p>This is to be a training school for teachers, a place to prepare men and women to go forth and help our children to adjust themselves properly to their times. For many generations men and women became teachers without special training. Today there are thousands of untrained people "keeping school" in our own state. Some of them are doing well, Almost all of them are conscientious, earnest workers; yet through the lack of preparation the work of many is poor. Teaching is fast being recognized as a profession and the time will soon come when the well trained will be licensed to practice. Just as the old herb doctor has passed away before the onward march of the medical profession; so the keeper of school must give place to those properly prepared for this profession. There are certain fundamental facts that each doctor must know before he can begin the practice of medicine. And there are certain basal principles in education that will soon be required of every teacher. The profession of medicine is concerned primarily with the physical welfare of the individual, but education deals with the physical, the mental, and the moral welfare of the individual. The work of the former ends with death; the work of the latter goes on forever. O, that we could fully realize the importance of this work! In my judgement, the wrecks in life that are not due directly to some physical abnormality are due to misdirection on the part if parent or teacher. Life is too short and the demands of life are too great for our children to be started wrong. The stream of life is so turbulent that to turn back many times wrecks the individual career.</p>

<p>This is to be a professional school. I hope those who go out from our tutelage will be filled with the professional spirit that they will realize the great responsibilities that rest upon them. I hope they will see that true education is more than simple acquisition of book facts, more than so-called knowledge, but that it is power, yes, growth in power, and that all information which does not stimulate this growth is useless. May they realize that they are dealing with young life in all of its manifold relations, and may they go forth prepared to live up to the high responsibilities of the great and noble work they have undertaken.</p>

<p>It is not for me today to deal in platitudes. Since Lee laid down his arms at Appamatox, and that thin line of soldiers in gray turned with sad hearts toward their homes which had been made desolate by the terrible devastations of civil war, and started life anew, it is to the student of history simply marvelous what they have accomplished. First, the stern necessities of life had to be met; then, a new economic basis built. With starvation confronting many, crime running riot, the old basis of livelihood swept away, political prejudices and sectional jealousies to overcome, it is not strange that public education should have been neglected. In fact, all public finds were used in liquidating just and unjust public debts and in the maintenance of law and order. When public thought could turn to public education it found the schoolhouses gone to ruin or never built. We are now emerging from the era of public school houses. The next great duty that confronts us is to place a well-trained teacher in each of these houses. If the work that has been accomplished is to being to us proper returns [sic], we must see that those who teach our youths are well prepared for the work. This is not a matter of sentiment, neither are these the words of an enthusiast, but it is a duty we owe to our children. They are under no obligations to us. They have been entrusted to us for our care and keeping. If we are to keep our people apace with the times, if the future North Carolinian is to measure up favorably, as he has heretofore done with the citizen from other states, he must be given an equal start with the citizen in other states. I do not fear our native ability; neither do I fear the spirit of our people. I have no patience with those men, public school men many of them, who have preached our infirmities from the housetops. I see in our state a people ready, willing and anxious for any good thing. They are filled with the American ideal of political freedom; in fact, this state is one of our nation's strongholds. We will give to the rising generation the purest inheritance of the nation and better preparation than has ever been given to a preceding generation. This school is and expression of that determination, it was built by the people, for the people, and may it ever remain with the people, as a servant of the people. </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"President Robert H. Wright's Address Inaugural Address", University Archives, CH1050, Series 2, Sub-series 1, Box 1, Folder 1.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>University Archives, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Wright, Robert H. Inaugural Address, 12 November 1909, CH1050-2, University Archives</td>
  </tr>
</table>
