---
layout: ecu
title:  "The East Carolina Training School"
customdate: "1909 November 14"
order: 5
---

{% include breadcrumbs.html %}

<h3>"The East Carolina Training School", The Times-Dispatch, 14 November 1909</h3>

<p>
  Article printed in the Richmond, Virginia Times-Dispatch November 14, 1909 regarding the opening of the East Carolina Teachers Training School. This and other articles may be found in the records of Chancellor's Office, Record Group CH1050, Series 1, Scrapbook File, 1914-1965 in the University Archives.
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>Robert H. Wright Inaugurated as President of New State Institution</p>

<p>WELL EQUIPPED FOR PLACE<br/>
Well Known Educator of State.<br/>
Six Buildings Modernly Equipped</p>

<p>[Special to the Times-Dispatch]</p>

<p>GREENVILLE, N.C., November 13.-- After years of effort on the part of the people of Eastern North Carolina a teachers' training school has been established in this section, and this week Robert H. Wright was inaugurated president of the East Carolina Teachers' Training School, which has recently been completed here.</p>

<p>The Inaugural Exercises</p>

<p>"Six years ago there were no two-room public school houses in Pitt county," said county Superintendent W.H. Ragsdale at the inauguration exercises, "and, although the county was organized 142 years ago, up until six years ago the public school property of the county was valued at less than $15,000; to-day the valuation, including the training school property, is more than $300,000."</p>

<p>This, in one sentence, tells the wonderful progress Greenville and Pitt County have made along educational lines. For the past six years leaders in Pitt county and Eastern North Carolina, encouraged by good people, whose hearts have yearned for better things for their boys and girls, have striven to better the educational conditions, and how well they have succeeded was attested to-day by the brilliant audience which assembled in the splendid auditorium of the school to witness and take part in the inaugural exercises. It was 11 o'clock when the trustees, college presidents and other prominent educators marched in and took their seat on the rostrum, which had been decorated with potted flowers, the college colors, royal purple and old gold, over the centre of the stage being the monogram designed by young David C. James, a Pitt county boy. A few minutes later the whole student body marched in and took front seats.</p>

<p>The address of welcome on the part of Greenville was delivered by C.F. Harding, and on the part of Pitt county by Colonel F.G. James. Greeting from the faculty was brought by Superintendent W.H. Ragsdale. Superintendent Joyner, as ex-official chairman of the board of trustees, delivered the address of welcome on the part of that body.</p>

<p>Colonel J. Bryan Grimes, Secretary of State, was introduced as the representative of Governor Kitchin, who could not be present on account of sickness. Then followed the inaugural address by President Robert H. Wright. His address was a scholarly one, and had to do with ideas that he had for the school.</p>

<p>A Long, Hard Fight.</p>

<p>After the establishment of a training school in the western part of the State the people of the eastern section woke up to the value of such an institution, and a long fight was begun to induce the State Legislature to provide for a school in that section of the State. It was not until 1907, however, that the Legislature was won over, and a bill providing for the school passed. Many localities were anxious for the school, but it was Greenville and Pitt county that offered the greatest inducements. The city and the county each voted a bond issue of $50,000, and Greenville was selected as the location. Work was begun on the buildings last spring, and to-day there are six buildings completed and fully equipped. There are accommodations for 240 students. The faculty consists of college graduates, who are experienced teachers. The school opened in October of this year with bright prospects for a successful future. It was of this school that Mr. Wright was inaugurated as president on Friday.</p>

<p>Sketch of President</p>

<p>Robert H. Wright was born in Sampson county, this State [Virginia], in 1870. He received his primary education in the public schools of this county and at Oak Ridge Institute. After teaching school for a while, he entered the University of North Carolina, graduating with high honors in 1894. He then continued his studies at Johns Hopkins University. Afterwards he served as member of the faculty of the Baltimore City College and as principal of the Eastern High School, of Baltimore.</p>

<p>Mr. Wright is not only a successful teacher, but is also a leader among the educators of the State. He is a member of various historical and educational associaitons of this State and Maryland. Under his guidance the new school should be a great success. </p>
  </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The East Carolina Training School," Richmond, Virginia Times-Dispatch, Nov. 14, 1909.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>University Archives, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Chancellor's Office, Record Group CH1050, Series 1, Scrapbook File, 1914-1965</td>
  </tr>
</table>
