---
layout: ecu
title:  "Delegation from Elizabeth City"
customdate: "1905 February 8"
order: 3
---

{% include breadcrumbs.html %}

<h3>"A Delegation from Elizabeth City Here in the Interest of a State Normal School in that City", <em>The News and Observer</em>, 8 February 1905</h3>

<p>
  Recounts the first visit of the delegation from Elizabeth City in their effort to secure the school.
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>[Page 8]</p>

  <p>Large Delegation. </p>

  <p>
    A Delegation from Elizabeth City Here in the Interest of a State Normal School in That City.
  </p>

  <p>A delegation of citizens from Elizabeth City are here in the interest of a State Normal School for the metropolis of Eastern North Carolina. These gentlemen were appointed by the Chamber of Commerce or Elizabeth City. They are enthusiastic in their appeals for a school at this point, and claim that since the State has established such schools in Caldwell andJackson counties, in the west, it is but just to the east that a school be established there.</p>

  <p>Edenton and Washington, it is understood, are also asking for such a school, with plausible inducements.

  <p>Those who compose the delegation from Elizabeth City are: Messrs. S. L. Sheep, W. M. Hinton, J. Heyward Sawyer, M. N. Sawyer, H. C. Tunis, T. B. Wilson, E. F. Aydlett, Roscoe W. Turner, H. T. Greenleaf, J. H. White and Reve. A. P. Tyre. </p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"A Delegation from Elizabeth City Here in the Interest of a State Normal School in that City," <em>The News and Observer</em> (Raleigh, NC), February 8, 1905.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microforms</td>
  </tr>
</table>
