---
layout: ecu
title:  "James L. to Loula Fleming"
customdate: "1907 March 5"
order: 8
---

{% include breadcrumbs.html %}

<h3>James L. Fleming, My Dear Sweetheart [Loula Fleming], 5 March 1907</h3>

<p>
Fleming, a member of the N.C. State Senate representing Pitt County from 1905-1908, wrote to his wife, Loula, on March 5, 1907 that the Training School bill had passed the House that day and he thought it would go through the Senate though there would be some opposition from rival cities. The Fleming collection of less than 100 items came to the manuscript collection in 1982, 75 years after the letter was written. Though torn at the bottom, fortunately the letter itself survived.
</p>

  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<b><a href="#transcription">Transcription for the images below:</a></b>

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/flem/3FLEM001.jpg">
      <img src="{{ site.baseurl }}/img/flem/7FLEM001.jpg" alt="Page 1" class="img-responsive" />
    </a>
  </div>
</div>

<hr/>

<b id="transcription">Transcription for the images above:</b>

<p>Senate Judiciary Committee.</p>

<p>Paul S. Means,</p>

<p>Secretary to Committee.</p>

<p>Walter E. Daniel, Chairman.</p>

<p>J. W. Graham, Harry W. Stubbs, O. F. Mason, R. D. Reid, J. C. Buxton, J. R. Blair, N. A. McLean, W. S. Howard.</p>

<p>Raleigh, March 5th 1907.</p>

<p>My dear Sweeheart,</p>

<p>I am still ailing with my cough and cold and shall be home just as soon as I can possibly get through with matters that I am particularly interested in. Don't think the legislature will adjurn till Monday about midday, but I hope to get off Saturday or Sunday.</p>

<p>Hope you are all well &c.</p>

<p>Training School bill passed House today and think will have no trouble to get it through the Senate though there will be some opposition. </p>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>James L. Fleming to My dear Sweetheart [Loula Fleming], March 5, 1907, Raleigh, NC, James L. Fleming Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>James L. Fleming Papers, #437.1 <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0437">View Collection Guide</a></td>
  </tr>
</table>
