---
layout: ecu
title:  "M. J. Westbrook to Gov. R. B. Glenn"
customdate: "1907 June 3"
order: 12
---

{% include breadcrumbs.html %}

<h3>M. J. Westbrook, Dear Sir [Gov. R. B. Glenn], 3 June 1907</h3>

<p>
  Westbrook, Chairman of the Duplin County Board of Commissioners, urges Gov. Glenn to locate the Training School in Kinston which already has adequate transportation facilities and citizens in support of the project.
</p>
 <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<b><a href="#transcription">Transcription for the images below:</a></b>

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/grai/3GRAI001.jpg">
      <img src="{{ site.baseurl }}/img/grai/7GRAI001.jpg" alt="Page 1" class="img-responsive" />
    </a>
  </div>
</div>

<hr/>

<b id="transcription">Transcription for the images above:</b>

<p>Law Office of Carlton and Williams.</p>

<p>Kenansville, N.C., June 3, 1907.</p>

<p>Gov. R. B. Glen, Raleigh, N.C.</p>

<p>Dear Sir:</p>

<p>The undersigned members of the Board of Commissioners of Duplin County respectfully urge that The East Carolina Training School authorized by the last Legislature be located at Kinston. The transportation facilities already furnished by the Norfolk & Southern and the Atlantic Coast Line make Kinston in easy touch with all sections of the Eastern half of the State. Kinston is a thriving little city filled with public spirited citizens who will always give the institution every encouragement possible no doubt. When the best interest of all the people from an educational standpoint is considered there can be no mistake made if Kinston is chosen as the location.

<p>Very respectfully,</p>

<p>M. J. Westbrook </p>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>M. J. Westbrook to Dear Sir [Gov. R. B. Glenn], June 3, 1907, Kenansville, NC, Jesse W. Grainger Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Jesse W. Grainger Papers, 352.1.c <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0352">View Collection Guide</a></td>
  </tr>
</table>
