---
layout: ecu
title:  "Junius D. Grimes, To My Dear Sir"
customdate: "1907 February 21"
order: 6
---

{% include breadcrumbs.html %}

<h3>Junius D. Grimes, To My Dear Sir, 21 February 1907</h3>

<p>
  Junius D. Grimes received a B.A. from U.N.C. in 1899 and an L.L.B. from Georgetown University in 1902. A prominent attorney, he was solicitor for the First Judicial District. This correspondence concerns a bond issue to be passed in Washington, N.C. in support of the Eastern Training School which Grimes and the Board of Alderman hope can be located there.
</p>

  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

  <b><a href="#transcription">Transcription for the images below:</a></b>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a href="{{ site.baseurl }}/img/jdgr/3JDGR001.jpg">
        <img src="{{ site.baseurl }}/img/jdgr/7JDGR001.jpg" alt="Page 1" class="img-responsive"/>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a href="{{ site.baseurl }}/img/jdgr/3JDGR002.jpg">
        <img src="{{ site.baseurl }}/img/jdgr/7JDGR002.jpg" alt="Page 2" class="img-responsive"/>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <a href="{{ site.baseurl }}/img/jdgr/3JDGR003.jpg">
        <img src="{{ site.baseurl }}/img/jdgr/7JDGR003.jpg" alt="Page 3" class="img-responsive"/>
      </a>
    </div>
  </div>
  <hr/>
  <b id="transcription">Transcription for the images above:</b>
  <p>[Page 1]</p>

  <p>H. S. Ward</p>
  <p>Junius D. Grimes</p>
  <p>Ward and Grimes,</p>
  <p>Attorneys at Law,</p>
  <p>Washington, N.C.</p>
  <p>Feb. 21, 1907.</p>

  <p>Hon. W. K. Jacobson, House of Representatives, Raleigh, N.C.</p>

  <p>My dear Sir:</p>

  <p>This morning I sent you the bill which we desire you to have passed, authorizing the Board of Alderman to submit to the voters of the city the question of issuing Bonds in aid of the Eastern Training School. I was very anxious that it should get off in this mail and had no time within which to write you fully about the matter. The Bill was laid before the Board of Alderman and such changes as they thought proper were made and the Bill as sent to you embodies these changes. I call your attention to the fact that we did not state the maximum amount of bonds for which the election could be called. I was in some doubt at first as to the validity of such a vision but have since satisfied myself that it is all right. We think it will give us considerable advantage over the other towns in that we will know the maximum amount for which they can ask whereas they will be in the dark as to us. I note that the joint educational committee recommends $15,000 appropriation for building and $5,000 annually upon condition that some town give at least $25,000. I notice from the paper that it says, "that some town give at least $25,000." Don't you think it would be better not to use the word town, for example, the town might not be willig to give the entire amount and the difference could be made up by the county? This is just a suggestion, however. Please send me a copy of the Bill as</p>

  <p>[Page 2]</p>
  <p>H. S. Ward</p>
  <p>Junius D. Grimes</p>
  <p>Ward and Grimes,</p>
  <p>Attorney at Law,</p>
  <p>Washington, N.C.</p>

  <p>it becomes a law so that we can familiarize ourselves with the terms of it. As said this morning, it is hardly necessary to call your attention to section 14 of article 2 of the constitution which requires that a bill of this character should be read three several times in each house and pass three several readings which shall be on three different days and the yeas and nays shall be entered in the journal on the second and third reading. Of course I know that you are familiar with this provision but we thought in the rush of other matters you might overlook it and some kind friend who would be interested in locating the school at another point have two or more readings of the bill on the same day.</p>

  <p>At the last meeting of the board of Alderman, I was directed to draft and send to you a bill authorizing the Board to submit to the voters the question of issuing $25,000 in bonds for the purpose of street improvements. I herewith hand you the Bill as drawn by me. Please attend to it for us and see that it is properly passed. All that I have said relative to the passing of the other bill applies with equal force to this. Do you think it advisable that I write to the senators from this district as to their attending to the Bill when it goes in the Senate or will you see them for us? This Bill has not yet been advertised for thirty days as required or private laws but I do not consider</p>

  <p>[Page 3]</p>
  <p>H. S. Ward</p>
  <p>Junius D. Grimes</p>
  <p>Ward & Grimes,</p>
  <p>Attorneys at Law,</p>
  <p>Washington, N.C.</p>

  <p>this to be a private law and that the provision relating to private laws being advertised has no application whatever to a bill of this character, however we are having this advertised and if the bill is held up on that account, the time will soon be out and we will at once send you Ross' affidavit.</p>

  <p>Please let me hear from you about these matters, particularly as to whether I shall write to our senators or not. With best wishes</p>
  <p>Sincerely yours,</p>
  <p>Enclosure.</p>
  <p>JDG/MGM </p>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Junius D. Grimes to My dear Sir [Hon. W. K. Jacobson], February 21, 1907, Washington, NC, Junius D. Grimes Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Junius D. Grimes Papers, 571.48.g <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0571">View Collection Guide</a></td>
  </tr>
</table>
