---
layout: ecu
title:  "No Modifications"
customdate: "1907 May 8"
order: 11
---

{% include breadcrumbs.html %}

<h3>"No Modifications", <em>The Kinston Free Press</em>, 8 May 1907</h3>

<p>
The article concerns the revision of bids after opening and bonds voted on before and after June 5.
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>"No Modifications"</p>

<p>Some days ago, Prof. Harry Howell, superintendent of the Washington, N. C. graded schools, in writing to the Washington Messenger about the Eastern Carolina Teacher's Training School, quoted from correspondence with Hon. J. Y. Joyner. As our people are interested along the same line, we will quote from the Messenger's communication.</p>

<p>Prof. Howell wrote:<br/>
It will be recalled that the bids will be opened on June 5, and that nothing was said on the important question of whether the state board would consent to a revision of bids after they are opened. In reply to my request for the authoritative information on that point, Hon. J. Y. Joyner, State Superintendent of Public Instruction and Secretary of the State Board of Education, says in he [the] course of a recent letter:</p>

<p>"I think it the sense of the board not to permit the modification of the bids after they have been opened on June 5th. Of course, the board would not permit any unseemly or undignified scramble about the matter."</p>

<p>The rules of the State board also state that bond election for the purpose of inducing the selection of a site may be held either before or after the decision of the board. I put the question to Mr. Joyner whether a bid based on a bond election actually and previously carried. He says in reply:</p>

<p>"Of course, the bid based on a proposition to vote bonds after the consideration of the bid would be considered on equal terms with a bid from another town which had already voted bonds, conditioned of course, upon making good the bid by vote. Bids will be received in open meeting and discussed." </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"No Modifications," <em>The Kinston Free Press</em> (Kinston, NC), May 5, 1907.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Henry T. King Collection, #625.2.m <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0625">View Collection Guide</a></td>
  </tr>
</table>
