---
layout: ecu
title:  "Notice to the Voters of Pitt County"
customdate: "1907 April 1"
order: 9
---

{% include breadcrumbs.html %}

<h3>"Notice to the Voters of Pitt County", <em>The Kinston Free Press</em>, 1 April 1907</h3>

<p>
  Notice of registration in Pitt County to be able to vote on interest bearing coupon bonds to the sum of $50,000 to run for 30 years at an interest not to exceed 6%. The attesters listed at the bottom of the notice are: Richard W. King, Chairman of the Pitt County Commissioners, and Richard Williams, Pitt County Register of Deeds.
</p>
<div class="well">
  <label>Text from News-Article</label>

  <p>NOTICE TO THE VOTERS OF PITT COUNTY.</p>

  <p>Notice is hereby given to the voters of Pitt county that the board of county commissioners, at their meeting on the first Monday of April, 1907, it being the first day of said month, ordered that an election held at the various voting places in said county on Tuesday, May 14th, 1907, for the purpose of taking the sense of the qualified voters of said county on the proposition to confer upon the board of county , commissioners of said county the authority to issue and sell interest bearing coupon bonds, of said county, not to exceed the sum of fifty thousand dollars to, run for thirty years and to bear interest at a rate not to exceed six percent. The proceeds of the sale of said bonds to be used in aiding in erecting suitable buildings at some point in Pitt county for a training school for white teachers, and the excess, if any, of the fundraising from the sale of said bonds, after securing the location of said school in the county, to be used in the purchase of machinery for the use of the convicts in working the public roads and to aid building and repairing bridges in the county of Pitt.</p>

  <p>A new registration of the voters had been ordered for said election, so that it may be definitely and accurately ascertained who are qualified voters at said election. The law authorizing said election requires those favoring the issuing of said bonds to vote a written or printed ballot with the words thereon, "for bonds" and opposed to vote a written or printed ballot with the words thereon "against bonds." The registration books will open on Thursday, April 11th, 1907. Only those who register can vote.</p>

  <p>By order of the board of county commissioners of Pitt county.</p>

  <p>This the 1st day of April 1907.</p>

  <p>Attest: R. W. King, Chairman, Richard Williams, Clerk, 11d 4tw </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Notice to the Voters of Pitt County," <em>The Kinston Free Press</em> (Kinston, NC), April 1, 1907.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Henry T. King Collection, #625.2.m <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0625">View Collection Guide</a></td>
  </tr>
</table>
