---
layout: ecu
title:  "Reasons Why the Citizens of Pitt Should Vote in Favor of the School Bonds"
customdate: "1907"
order: 5
---

{% include breadcrumbs.html %}

<h3>"Reasons Why the Citizens of Pitt Should Vote in Favor of the School Bonds...", 1907</h3>

<p>
  Henry T. King was editor of the Index, a Greenville paper which later became "Kings Weekly." As a publisher interested in the city and county, he published a flyer giving numerous financial reasons people should vote for bonds for the Training School and why, of all the eastern counties, it should be established in Pitt County.
</p>
<div class="well">
  <label>Text from Pamphlet</label>
  <p></p>

  <p>REASONS WHY THE CITIZENS OF PITT SHOULD VOTE IN FAVOR OF THE SCHOOL BONDS . . . .</p>

  <p>It locates the school in the County. It gives us the first place in the East. It furnishes opportunities we must have. It costs no more than atrifle.</p>

  <p>1. This school is certainly going to be located in some Eastern County. It is to get it now or never. It is the only chance in a lifetime.</p>

  <p>2. Wherever it goes it makes that county for all the future the foremost county of Eastern Carolina. It makes it the county which shall receive contributions forever from all other Eastern counties. It makes it the center of educational and social influence--the center from which educational inspiration, effort and accomplishment shall go forth.</p>

  <p>3. If located in any other county we become for all time contributors to its wealth instead of it contributing to ours.</p>

  <p>4. If located here it connects this county directly with the State government because it will be a State institution and always hereafter supported entirely by the State.</p>

  <p>5. We contribute but one time and every dollar we do give remains here in the county and continues to help build up the county through all the future.</p>

  <p>6. The State will every two years be giving appropriations and these will be larger as the school grows. These will be spent here every year and invested in other buildings which go to build up the county</p>

  <p>7. If located in the county it will place an opportunity of our very doors to fit and prepare for a successful life at the least possible cost.</p>

  <p>8. It will furnish us a thoroughly trained teacher for every county and town school in the county.</p>

  <p>9. It will, therefore, make this county stand first, educationally, in the State, because as is the teacher so is the school.</p>

  <p>10. Holding this position will increase the value of every piece of property in the county. It is an indisputable fact that wherever education is in the forefront these property has the best values.</p>

  <p>11. It is now a contest between a number of counties as to where this school shall be located. Will Pitt county, with the prospect for the future it has allow some other county to come in and secure the prize?</p>

  <p>12. To locate with us only needs the hearty cooperation of the people. It would be a calamity to the county not to have this now.</p>

  <p>13. Whether we wish it or not this school will be established somewhere in Eastern Carolina. Wherever it is located we will have to pay the same amount of taxes for maintaining it that we would if we had the school. Is it not wise to have the school and get all the benefits that would come from it since we would pay the same for its maintenance if located elsewhere?</p>

  <p>14. The East pays one half of the State taxes. There is not one dollar of the public funds appropriated to any institution for whites east of Raleigh: Is it not time we should have at least one of the State's Institutions? Some county gets one this year. Shall it be Pitt, or will we let it go elsewhere?</p>

  <p>15. The question now is, and the decision of which decides whether we get the school or not, will the people of the county vote to authorize the County Commissioners to issue a small amount of bonds to make it positively certain that we shall get the school? If they should issue the $50,000 a man who lists $1,000 worth of property would pay 25 cents a year for his share of the locating money. If he lists $5,000 worth of property he would pay $1.25 per year; and if he should list $10,000 worth of property he would have to pay only $2.50 a year.You can run no risk in voting for this bond issue because if the school is not located here no bonds can be issued even after we have votedto authorize it.</p>

  <p>16. The citizens of Greenville will on the 7th day of May, 1907 vote on a proposition to authorize the Board of Alderman of that town to issue $75,000 of interest bearing bonds. It is certain that the vote on this proposition will be in favor of issuing bonds to be used by the Board of Alderman as far as may be necessary in locating the school in the county of Pitt. The citizens of Greenville in addition to paying the annual interest on the town bonds will be taxed also for their share of the interest on the county bonds so that this is clearly a case where the interest of the town and county are the same and one in which the ought to work harmoniously together to accomplish this great result which will be alike beneficial to both. This would be what he would pay with the present valuation of property. As the valuation of the property increases his payments would decrease.</p>

  <p>17. Those who have made such a stubborn and gloriously successful fight in getting the bill through the Legislature did so with full faith that our people would stand by us when it comes to locating this school.Will not every man rally now and let us make ours in truth and deed what has been so conspicuously begun? We wait with confidence your answer at the polls on the 14th day of May. </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Reasons Why the Citizens of Pitt Should Vote in Favor of the School Bonds...", 1907, Henry T. King Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Henry T. King Collection, #625.2.m <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0625">View Collection Guide</a></td>
  </tr>
</table>
