---
layout: ecu
title:  "Greenville's Proposal for ECTTS"
customdate: "1907 June 5"
order: 13
---

{% include breadcrumbs.html %}

<h3>Greenville's Proposal for ECTTS, 5 June 1907</h3>

<p>
  This is the bid the city of Greenville submitted to the State Board of Education June 5, 1907 in its attempt to obtain East Carolina Teaching Training School. It envelope included 3 documents: a proposal letter, a County Commissioners Resolution, and a Board of Aldermen Resolution.
</p>
<div class="well">
  <label>Text from  Manuscript</label>

  <p>
  <a href="{{ site.baseurl }}/img/pr108/3pr108001.jpg">
      <img src="{{ site.baseurl }}/img/pr108/7pr108001.jpg" alt="Seal" class="img-responsive" />
    </a>
</p>

<p>Sealed Proposal Based on Resolution passed by the Board of County Commissioners of Pitt County and the Board of Aldermen of the Town of Greenville</p>

<p>Respectfully submitted to State Board of Education By The Representatives of said Town and County June 5th 1907</p>

<p>Proposal</p>
<p>Raleigh, N.C. June 5th-1907</p>

<p>To the Honorable The State Board of Education</p>

<p>Gentlemen:-</p>

<p>We beg leave to appear before you to-day for the purpose of requesting you to locate the Eastern Training School in or near the Town of Greenville in the County of Pitt. Our authority to appear before you and to make the proposition herein contained will be found in the two attached resolutions passed by the Board of County Commissioners of the County of Pitt and the Board of Aldermen of the Town of Greenville respectively.</p>

<p>At an election held in the Town of Greenville on the 7th day of May 1907 the Board of Aldermen of said Town were authorized to issue and sell interest bearing bonds and to use so much of the proceeds as the Board might deem proper to aid in erecting and equipping the necessary buildings for said school, in the event it should be located in or near said Town, and at an election held in the County of Pitt on the 14th day of May 1907 the Board of County Commissioners of said County were authorized to issue and sell $50,000 of interest bearing bonds for like purposes.</p>

<p>At a conference between the two Boards it determined that each Board should appropriate from the sale of these bonds a like amount to wit, the sum of $50,000 to be used in the purchase of a site and in the erection of the buildings and in the payment of some small expenses incident thereto.</p>

<p>Now acting upon the authority conferred upon us we have the honor and the pleasure to offer to Your Honorable Body $100,000 to be used for said purposes and to be available as soon as the Bonds can be sold in the event it shall please your Honorable Body to locate said school in or near said Town.</p>

<p>In order to make sure of a number of available sites suitable for said school we have procured options to be taken and properly executed which we herewith hand you. From these and the Map accompanying them it will be seen that the Higgs sites are on the West of the Town, the Arthur sites on the South of the Town and the Harrington and Munford sites situate to the East of the Town.</p>

<p>The Higgs sites are offered in different places and at different prices but all in the same locality.</p>

<p>The Arthur sites embrace practically the same territory except that one embraces a few more acres than the other.</p>

<p>The Harrington sites are offered in different shapes but at the same price per acre except that one is offered as a donation.</p>

<p>The Munford site is in one body but at one price if taken as is and at another if he is allowed to remove the wire fence and timber.</p>

<p>All these sites are now ready for inspection by your body or any member of it who may be appointed for that purpose and if either of them is selected a deed will be executed for it as your Board may direct.</p>

<p>It is the purpose of the Town and County to put $100,000 in this educational enterprise. Both the Town and the County have already incurred some expense in holding the election on this school question which are properly chargable to this fund. These expenditures cannot exceed $1000 each, so we propose to add $2000 to the cost of the site, and deduct this from the $100,000 and the balance will be appropriated to the erection and equipment of the buildings. If a site costing $7,500 or $8,000 is selected this will leave $90,000 for the buildings and we think it is not likely that our offer can be less than $90,000 in money and a site.</p>

<p>We make this generous offer for two reasons:</p>

<p>First, The people of Greenville and Pitt sincerely desire this school located in their midst and they offer this large sum as an earnest of their good faith. In the second place they willingly donate this large sum to the erection of the buildings because if the school is located in their midst they desire to see handsome commodious, well equipped buildings which will be a credit to the State and in which all Eastern North Carolina can take a pride.</p>

<p>And finally we beg to call your attention to the fact that Greenville stands in the center of a large, a prosperous County with a population of $35,000 progressive people who are moving rapidly forward along educational lines. They are deeply in earnest in their efforts and desire for this school and if located in their midst they will do their full share to make it a success from the beginning and one of the states most useful Institutions.</p>

<p>[signed]<br/>

F.M. Wooten, Mayor of the town Greenville, NC<br/>
R.W. King, chair Board Coms. Pitt Co.<br/>
M.T. Speir, Member Brd. Coms. Pitt Co.<br/>
J.L. Fleming, Senator from Pitt<br/>
W.H. Ragsdale, Supt. of Schools<br/>
R.C. Arthur [?], Member Co. Board of Education<br/>
D.C. Moore, C.S.C.<br/>
Thos. J. Jarvis<br/>
B.W. Moseley Member Board of Alderman<br/>
F.G. James</p>

<p>County Commissioners Resolution</p>

<p>RESOLVED.</p>

<p>1- That R.W. King, Chairman of the Board of County Commissioners of the County of Pitt and W. H. Ragsdale, Superintendent of Public Instruction of said County are hereby authorized and requested to appear before the State Board of Education on the 5th of June 1907 and at such other times as may be necessary and in the name of this Board and the people of said County request that the Eastern Training School be located in said County in or near the Town of Greenville.</p>

<p>2- That a majority of the qualified voters of said county at an election held on the 14th day of May 1907, having voted to authorize this Board to issue coupon Bonds not to exceed $50,000 to aid in the erection and equipment of suitable buildings for said school, in the event it shall be located in said county, our said representatives are hereby authorized to offer to said State Board of Education the said sum of $50,000 to be used for said purposes less the amount the County may have to contribute for cost of site and to repay expenses incurred not to exceed $1000.</p>

<p>3- That in addition to the two person named in the first resolution our Senator and Representatives in the Legislature and any member of the County Board of Education (if they or any of them shall be in Raleigh at the time) are hereby authorized and requested to join with Messrs. King and Ragsdale and represent this Board in said matter. and also any other member of the Board of County Commissioners who may attend.</p>

<p>I, Richard Williams, Clerk of the Board of County Commissioners of the County of Pitt, do hereby certify that the foregoing is a true copy of Resolutions passed this day by said Board.</p>

<p>Given under my hand and seal of the County this June 3rd, 1907.</p>

<p>[signed] R. Williams, Clerk Brd Commrs for Pitt County</p>

<p>Board of Aldermen Resolution</p>

<p>RESOLVED</p>

<p>1- That F.M. Wooten, Mayor of the Town of Greenville and Thomas J. Jarvis and F.G. James, citizens of said Town are hereby authorized and requested to appear before the State Board of Education on the 5th day of June 1907 and such other times as may be necessary and in the name of the Board of Aldermen and the people of said Town request the location of the Eastern Training School in or near said Town.</p>

<p>2- That a majority of the qualified voters of said Town at an election held on the 7th day of May 1907 having authorized the Board of Aldermen of said Town to issue coupon bonds to aid in erecting and equipping the necessary buildings for said school in the event it shall be located in or near said Town, our said representatives are hereby authorized to tender to the said State Board of Education the sum of $50,000 to be used for the purposes less the amount necessary to pay for the site and repay expenses incurred not exceeding $1000.</p>

<p>I, J.C. Tyson, Clerk of the Board of Aldermen of the Town of Greenville hereby certify that the foregoing is a true copy of the Resolutions this day passed by said Board.</p>

<p>Given under my hand and seal of said Town this June 3rd, 1907.</p>


<p>[signed] James C. Tyson, Clerk of the Board of Aldermen of the Town of Greenville N.C. </p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>University Archives, Physical Plant File, Box 1, Folder 1.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>University Archives, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Physical Plant File, Box 1, Folder 1</td>
  </tr>
</table>
