---
layout: ecu
title:  "Greenville Gets Training School"
customdate: "1907 July 11"
order: 15
---

{% include breadcrumbs.html %}

<h3>"Greenville Gets Training School", <em>Daily Reflector</em>, 11 July 1907</h3>

<p>
  This <em>Daily Reflector</em> article (page 2, column 1) describes the announcement of the award to Greenville of the East Carolina Teachers Training School and the location of the school.
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>GREENVILLE GETS TRAINING SCHOOL</p>

<p>About 4:30 o'clock Wednesday afternoon the first news came unofficially through the telegraph and telephone that the State Board of Education had selected Greenville as the location for the Eastern Carolina Training School for Teachers, and some later this was confirmed by telegrams to The Reflector and several citizens. People had been waiting since 10 a.m. around the telegraph and Reflector offices, and call after call from the town and all parts of the county had been made over the phone for news, and as soon as a bulletin was put up announcing that Greenville had been selected there was general rejoicing.</p>

<p>The contest for the school has been long and earnest, continuing through six months, and it is cause for congratulation that Greenville has won the prize. This town and county made a vigorous campaign for it, yet everything was done on a high plane and without bitterness or hard feeling. Other towns also contested earnestly to win the school, as they had a perfect right to do, and while the contest was warm Greenville carefully avoided saying or doing anything to the detriment of any other place seeking it. Now that it is all over, except the building and opening of the school, all should come together and help make it what Greenville and Pitt county have determined it shall be, the pride of Eastern North Carolina.</p>

<p>While many of our citizens have done nobly their part toward securing the school, the people of Greenville and Pitt county can never repay ex-Gov. T.J. Jarvis and County Superintendent W.H. Ragsdale for what they did in bringing it here. Without the efforts of these two gentlemen we do not believe Greenville would have gotten the school.</p>

<p>Greenville is on the spot with the goods.</p>

<p>Now you watch Greenville and Pitt county push ahead of any town and county in the east.</p>

<p>All the other competing towns have an invitation in advance to come to Greenville to the corner stone laying of the Eastern Training school. Greenville and Pitt county will cordially welcome them and show them there is no unkind feeling arising from the contest. </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Greenville Gets Training School," <em>Daily Reflector</em> Greenville, July 11, 1907.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microforms</td>
  </tr>
</table>
