---
layout: ecu
title:  "Greenville Gets the School, Will Be Located on the Harrington Property"
customdate: "1907 July 11"
order: 14
---

{% include breadcrumbs.html %}

<h3>"Greenville Gets the School, Will Be Located on the Harrington Property", <em>Daily Reflector</em>, 11 July 1907</h3>

<p>
  This <em>Daily Reflector</em> article (page 1, column 2) describes the announcement of the award to Greenville of the East Carolina Teachers Training School and the location of the school.
</p>
<div class="well">
  <label>Text from News-Article</label>
<p>Greenville Gets the School</p>

<p>Will Be Located on the Harrington Property</p>


<p>Greenville has been awarded the Eastern Carolina Training School for Teachers, authorized by the last legislature, and it will be located on 43 acres of the Harrington property on the east side of the town.</p>


<p>This fact was settled by the State Board of Education at the meeting held in Raleigh Wednesday. We had looked to the Raleigh News and Observer today for a full report of the meeting of the board, but owing to a misconnection of trains the paper failed to come on the noon mail so we give it as told us by some of the gentlemen from Greenville who were present.</p>


<p>The board held an open session beginning at 10 o'clock, read the bids from all the towns and heard any of the representatives of the towns who were present and desired to speak. This open meeting lasted three hours, when the board went into executive session. The board carefully considered all the details of the bids of the competing towns, and at a little past 4 o'clock announced their decision as Greenville on the Harrington property.</p>


<p>The decision for Greenville meets the approval of almost the entire State, and the Harrington site gives more satisfaction to the people here than any other offered. The site is a beautiful one and on it the school will compare with any institution in the State.</p>


<p>Greenville and Pitt county are delighted that the school comes here, and later the occasion will be appropriately celebrated. </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Greenville Gets the School, Will be Located on the Harrington Property," <em>Daily Reflector</em> Greenville, July 11, 1907.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microforms</td>
  </tr>
</table>
