---
layout: ecu
title:  "Greenville Winner of Training School"
customdate: "1907 July 12"
order: 16
---

{% include breadcrumbs.html %}

<h3>"Greenville Winner of Training School", <em>Daily Reflector</em>, 12 July 1907</h3>

<p>
  This article describes the meeting of the State Board of Education which decided the location of the East Carolina Teachers Training School. This and other articles may be found in the North Carolina Collection.
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>A Hard Fought Battle Goes to the Progressive Capital of Pitt County</p>

<p>Greenville has won the location of the East Carolina Teachers Training School after a long drawn out contest in which eight of the best towns in Eastern North Carolina participated. It was a contest worth winning, and that Greenville was chosen is proof that in Pitt county there is progress and prosperity, and a determination to succeed.</p>

<p>The decision came yesterday afternoon after the State Board of Education held a morning and afternoon session, and the news was heard with delight by Senator J.L. Fleming, ex-Senator F.G. James and County Superintendent of Public Instruction W.H. Ragsdale who were here in charge of the interests of Greenville and Pitt county; the town having voted $50,000 and the county 50,000 to secure the location of the school. The good news was at once wired to Greenville and other places in Pitt. The representatives of the places which had lost stood defeat gamely and are not sore over the result.</p>

<p>The State Board of Education -- there being present Governor Glenn, Lieut. Governor Winston, Secretary of State Grimes, Auditor Dixon, Treasurer Lacy and Superintendent of Public Instruction Joyner with Attorney General Gilmer absent -- during the morning session heard presented briefly the claims of Greenville, Kinston, Rocky Mount and Washington, which also presented written bids, while written bids were also on hand from Edenton, Elizabeth City, New Bern and Tarboro.</p>

<p>For over an hour after this the Board was in executive session and at 1:15 adjourned, one member saying, "We are all up in the air." It was learned that the choice had narrowed down between Kinston and Greenville, with three votes each, and that at one time Rocky Mount had received two votes. The Board met at three o'clock again and by four o'clock it was announced that Greenville had won. No report as to how the members voted could be obtained, but it is said that one member finally came over to Greenville, this giving it four votes to Kinston's two and winning for Greenville, the vote being then made unanimous. When the vote was a tie Governor Glenn as chairman, having voted as a member, of course declined to untie the knot. The first vote is said to have been Rocky Mount, 1; Kinston, 2; Greenville, 8</p>

<p>To secure the location Greenville voted $50,000, Pitt county $50,000. From this $100,000 the expenses of the election are to be deducted and the cost of the site of 43 acres, at $200 an acre to be deducted, this making Greenville offer about $90,000 and a site, which is said to be a most eligible one.</p>

<p>The State Board of Education had before it eight propositions to vote upon, some of these double barrelled ones. In brief these were as follows:</p>

<p>Edenton -- $25,000 cash and 88 acres.</p>

<p>Greenville -- $90,000 cash and a choice of four sites of from 25 to 48 acres.</p>

<p>Kinston -- Two propositions; (1) $25,000 cash, $10,000 in lights and water, 87 acres, the Rhodes and Rountree buildings; (2) $61,000 cash, $10,000 in lights and water, 51 acres, the Rhodes and Rountree buildings.</p>

<p>New Bern -- $25,100 cash, with sites ranging from 25 to 60 acres.</p>

<p>Tarboro -- $30,000 cash, $10,000 in lights and water for 10 years, and site of 46 acres.</p>

<p>Washington -- $95,000 cash, and site of 150 acres and 200 acres.</p>

<p>Rocky Mount -- $25,000 cash and site of 40 acres.</p>

<p>Elizabeth City -- $62,500 cash and choice of six sites of from 25 to 45 acres.</p>

<p>Lieutenant Governor Winston made the announcement of the final outcome to an anxious company of representatives from the several contesting towns on the capitol grounds at 3:30 o'clock. Indicative of the good feeling prevailing among all the towns it was noticed that as soon as the announcement was made, the three Greenville representatives, Superintendent W.H. Ragsdale State Senator James L. Fleming and ex-Senator F.G. James, of Pitt county, were the recipients of cordial congratulations.</p>

<p>The truth is, the warmth of the hand shaking congratulations from Messrs. E.L. Daughtride, R.B. Davis, Jr., and W.S. Wilkinson, of Rocky Mount; J.W. Grainger and Plato Collins, of Kinston, and Superintendent Harry Howell, of Washington, all representatives of rival towns, was suggestive of a feeling of relief from a burden no less than philosophy under defeat.</p>

<p>To the credit of the Greenville representatives it can be truthfully said, that although their county of Pitt and town of Greenville had bid the remarkable cash price of nearly one hundred thousand dollars, they were jubilant as well as magnanimous in victory, and expressed the utmost satisfaction at having the privilege of showing the balance of the State, and the world that there would be no ______ in enthusiasm, no failure to more than measure up to the exacting demands.</p>

<p>While Prof. Ragsdale and Col. James looked well pleased, Senator Fleming was literally beaming with delight. He, it was, who officially stood the brunt of the fight in the senate for the enactment of the law. Supported by Governor Jarvis, Supt. Ragsdale, ex-Senator James and Blow and a hundred other leading Pitt county men, Senator Fleming had a local backing which practically stormed the legislature into passing the law.</p>

<p>One among the many moral effects of this decision will be the feeling of contentment in all sections, that Greenville was a fair victor, because she made a royal offer and royally sustained it: that a better knowledge of this real empire, this eastern county of Pitt, one of the most historical and financially massive in North Carolina's rich domain.</p>

<p>Contrary to the action of the session of June 5th, the board held an open meeting at which not only representatives from the cities interested, but all parties were admitted.</p>

<p>The towns were taken alphabetically, Greenville coming first, Superintendent W.H. Ragsdale, speaking for Greenville, being ably seconded by Senator Fleming and ex-Senator James, made a splendid presentation of the claims of Pitt county. He said the original bid was unequivocal, unobscure and could be understood by all men, and Greenville had no further offer to make, to wit: $90,000 cash and the choice of four splendid sites. He disclaimed responsibility on the part of friends of the school for criticism of the board from failing to award the school at regular advertised meeting in June.</p>

<p>Short arguments for Greenville were made by Senator Fleming and ex-Senator James.</p>

<p>Kinston was next to the bat, with Clerk of the Superior Court Plato Collins and Capt. J.W. Grainger.</p>

<p>They offered cash $61,000, the Rountree site of land including the Rhodes Military school, electric light and water free for ten years, the whole amounting to $96,000.</p>

<p>Rocky Mount, through Messrs. R.B. Davis, Jr., E.L. Daughtridge and W.S. Wilkerson, showed Rocky Mount's death record to be the lowest in the State, its water fine, and stuck to the original offer of $25,000 cash and a forty acre site, dwelling on it, and the fact of its being the Gate City of the East.</p>

<p>Superintendent Harry Howell was the only representative from Washington, but he counted for half a dozen. He presented the choice of two site, one of 150 acres, one of 133 acres, and $95,000 in cash.</p>

<p>Although disclaiming credit of oratory, he suggested to the board that the school should be located in the section where "there had been enthusiasm from first to last and not enthusiasm recently born for local gain." Greenville men smiled at this, while Kinston's delegates not only smiled, but uncrossed their legs.</p>

<p>There was a lot of good natured badinage about the water, the healthfulness, mosquitoes, the elevation above sea level, etc., of the different towns, Rocky Mount claiming the banner health and water and elevation record, Kinston the site and water and health, Washington the best of all and Greenville out of sight.</p>

<p>But the contest was over at 3:30 and everybody accepted the result with fine spirit.</p>

<p>That Greenville should have won seems to fit in with the logic of event by which the establishment of the East Carolina Teachers</p>

<p>Training School was authorized, for the bill providing for the school was introduced by Senator J.L. Fleming of Pitt.</p>

<p>The Board of Trustees of the East Carolina Teacher's Training School are State Superintendent J.Y. Joyner, chairman, ex officio, ex-Governor T.J. Jarvis, of Greenville; I.T. Turlington, of Smithfield; Y.T. Ormond, of Kinston; J.C. Parker, of Trenton; J.B. Leigh, of Elizabeth City; J.T. Bannerman, of Burgaw; J.O. Carr, of Wilmington, and T.H. Battle of Rocky Mount (resigned) vacancy not yet filled. -- Raleigh News and Observer. </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Greenville Winner of Training School," <em>Daily Reflector</em> Greenville, July 12, 1907.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microforms</td>
  </tr>
</table>
