---
layout: ecu
title:  "Rules of the Board of Trustees of the East Carolina Teachers' Training School"
customdate: "1909 August 6"
order: 18
---

{% include breadcrumbs.html %}

<h3>"Rules of the Board of Trustees of the East Carolina Teachers' Training School", 6 August 1909</h3>

<p>
  Rules adopted by the Board of Trustees for administration of East Carolina Teachers' Training School in a meeting held August 6, 1909. The minutes and other records created by the Board of Trustees may be found in Record Group CH1000 in the University Archives.
</p>
<div class="well">
  <label>Text from Manuscript</label>
<p>Rules of the Board of Trustees of the East Carolina Teachers' Training School</p>

<p>Article I</p>

<p>Tuition</p>

<p>1. There shall be a charge of Forty-five ($45.00) Dollars per school year for tuition for all students who do not agree to teach for two years after leaving the school.</p>

<p>2. Those students who receive instruction in Instrumental Music shall pay Forty-five ($45.00) Dollars per year for instruction and for the use of the instrument. If special lessons are given in Vocal Music there shall be a charge of Thirty-six ($36.00) Dollars per year for the same. (Changed to $45.00 as Inst. Music at a subsequent meeting. R.H.W.)</p>

<p>3. Payments for Tuition, Board, Laundry, and other expenses shall be quarterly in advance as follows:</p>

<p>On Entrance (at the beginning of each quarter). December 1st. February 1st, & April 1st.</p>

<p>Article II</p>

<p>Teachers.</p>

<p>1. Teachers shall not be absent from school except on account of sickness, or when leave has been obtained from the President.</p>

<p>2. There shall be no loss of pay to any teacher when leave of absence has been obtained from the President. Provided, however, that leave of absence shall not be granted for a period longer than seven school days.</p>

<p>If, however, absence from the school is due to personal illness there shall be no loss of pay to any teacher so detained for a period of two weeks. If the illness be protracted longer than two weeks said teacher shall lose one-half pay for the time over and above the first two weeks. At the end of three months said teachers' salary shall cease. Teachers may be absent without loss of pay when there is a contagious or infectious disease in the house in which the teachers resides.</p>

<p>But the Ex. Comm. is hereby vested with power to make such modifications of these rules as many seem just and right in special cases.</p>

<p>Article III</p>

<p>1. The Bursar shall be the Treasurer for the school. He shall receive and disburse all funds connected with the Institution in any way whatever. He shall keep an accurate account of all moneys received and paid out. He is authorized to make sight draft for all accounts not paid when due. The Bursar's Books shall be audited semi annually by a committee of the Board. He shall be required to give bonds in the sum of $20,000.00, said Bond to be paid for by the Board.</p>

<p>Term of office as Treasurer shall begin Oct. 1st 1909.</p>

<p>The Rules as above recorded were adopted by unanimous vote of the Board. </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>	"Rules of the Board of Trustees of the East Carolina Teachers' Training School", University Archives, CH1000, Series 1, Volume 1, pp. 28-29.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>University Archives, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Record Group CH1000, Series 1, Volume 1, pp. 28-29, Meeting Minutes, August 6, 1909   </td>
  </tr>
</table>
