---
layout: ecu
title:  "An Act to Stimulate High School Instruction in the Public Schools of the State and Teacher Training"
customdate: "1907"
order: 4
---

{% include breadcrumbs.html %}

<h3>"An Act to Stimulate High School Instruction in the Public Schools of the State and Teacher Training", <em>Public Laws of North Carolina, 1907, Chapter 820</em>, 1907</h3>

<p>
  Act recorded in the Public Laws of North Carolina 1907 which founded East Carolina Teachers College. Sections of the act relating to ECTC are presented below.
</p>
<div class="well">
  <label>Text from Book</label>
  <p>AN ACT TO STIMULATE HIGH SCHOOL INSTRUCTION IN THE PUBLIC SCHOOLS OF THE STATE AND TEACHER TRAINING</p>

  <p>The General Assembly of North Carolina do enact:</p>

  <p>SEC. 11. That there shall be established and maintained at some suitable point in eastern North Carolina a teachers' training school for the training of young white men and women under the corporate name of the East Carolina Teachers' Training School.</p>

  <p>SEC. 12. That said school shall be located by the State Board of Education at such point in eastern North Carolina as they may deem proper, and shall be located in or near that town offering the largest financial aid, having due regard to desirability and suitability for the location of said school.</p>

  <p>SEC. 13. That the object in establishing and maintaining said school shall be to give to young white men and women such education and training as shall fit and qualify them for teaching in the public schools of North Carolina. And the Board of Trustees, hereinafter provided for in prescribing the course of study of said school shall lay special emphasis on those subjects taught in the public schools of the State, and in the art and science of teaching. And in no event shall they prescribe a curriculum beyond that which would fit and prepare a student for unconditional entrance into freshman class of the University of North Carolina.</p>

  <p>SEC. 14. That tuition in said school shall be free to those who signify their intention to teach for such time and upon such conditions as may be prescribed by the Board of Trustees, and the Board of Trustees, upon the Recommendation of the faculty, shall give those students in said school who have completed the required course a certificate of proficiency in the work done.</p>

  <p>SEC. 15. That said school shall be managed by a Board of Trustees, consisting of nine persons, together with the State Superintendent of Public Instruction as chairman, ex officio; said trustees to be appointed by the State Board of Education: Provided, that two members of the said Board of Trustees shall be selected from the First Congressional District, two from the second, two from the Third, two from the Fourth, and one from the Sixth, whose term of office shall be six years: Provided further, that of the trustees first elected, three shall hold office for two years, three for four years, and three for six years. Said term of office to begin on the fifteenth day of March, one thousand nine hundred and seven. That the State Board of Education shall appoint trustees for the full term of six years upon the expiration of the term of office of any member of this board. Vacancies occurring by death or resignation of any member of this board shall be filled by appointment of the State Board of Education for the unexpired term. All trustees shall take oath to perform faithfully their duties as required by this act, and shall hold office until their successors have been appointed and qualified. The Board of Trustees shall report biennially to the Governor before the meeting of each General Assembly the operation and condition of said school.</p>

  <p>SEC. 16. That said Board of Trustees above provided for, upon their election and qualification, shall be and become a body corporate and politic with all the powers usually conferred upon such bodies and necessary to enable them to acquire and hold property, manage and conduct said school, and do all other things necessary for the carrying out of the provisions and purposes of this act.</p>

  <p>SEC. 17. That as soon as said school shall have been located by the State Board of Education, and the trustees herein provided for shall have qualified, the chairman shall call a meeting of said trustees for the purpose of organizing said board. As son as practicable after said organization the said trustees shall proceed to build and equip the necessary buildings for said school, and shall make such rules and regulations for the government of said school as they may deem proper: Provided, that no rules shall be made that would discriminate against one county in favor of another in the admission of pupils into said school.</p>

  <p>SEC. 18 That the sum of fifteen thousand dollars ($15,000) be and the same is hereby appropriated, to be paid from any funds in the hands of the State Treasury not otherwise appropriated, for the purpose of aiding in erecting and equipping the buildings for said school, one-half of said sum to be paid in one thousand nine hundred and seven and one-half in one thousand nine hundred and eight: Provided, that the town or community in which said school is located shall contribute the sum of not less than twenty-five thousand dollars ($25,000) toward the construction and equipment of said buildings, and the title to said buildings shall be in and held by the State Board of Education.</p>

  <p>SEC. 19. When it shall be certified to the State Board of Education by the trustees that said buildings of said school are completed and ready to be occupied, the sum of five thousand dollars ($5,000), annually, shall be and the same is hereby appropriated for the purpose of maintaining said school, to be paid out of the special appropriation of fifty thousand dollars ($50,000) herein appropriated for high school instruction and teacher training.</p>

  <p>SEC. 20. That this act shall be in force from and after its ratification.</p>

  <p>In the General Assembly read three times, and ratified this the 8th day of March. A.D. 1907. </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"An Act to Stimulate High School Instruction in the Public Schools of the State and Teacher Training", <em>Public Laws of North Carolina, 1907</em>, c. 820.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Ref KFN7425.A243 1907</td>
  </tr>
</table>
