---
layout: ecu
title:  "Ground Broken for the School"
customdate: "1908 July 2"
order: 17
---

{% include breadcrumbs.html %}

<h3>"Ground Broken for the School", <em>Daily Reflector</em>, 2 July 1908</h3>

<p>
  Newspaper article regarding ground breaking for East Carolina Teachers Training School. The shovel used for the groundbreaking is housed in University Archives along with other memorabilia.
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>EX. GOV. THROWS FIRST DIRT FOR FOUNDATION</p>


<p>Four Buildings Will be Completed Within a Year and the School Will Open in September , 1909 </p>
    <p>
  <a href="{{ site.baseurl }}/img/pr76/3pr76001.jpg">
      <img src="{{ site.baseurl }}/img/pr76/7pr76001.jpg" alt="Seal" class="img-responsive" />
    </a>
</p>

<p>At 10:30 o'clock this morning, in the presence of a number of peple who had gathered to witness it, dirt was broken for the foundation of the buildings for the Eastern Carolina Teachers' Training School. Ex-Gov. T.J. Jarvis, chairman of the board of trustees, the man who has started and pushed to completion so many things for the good of his people, had the honor of throwing the first dirt. For this purpose he used a new shovel which is going to be painted a silver color and mounted to be kept in the buildings when completion as a momento of the breaking of ground for the work to begin.</p>


<p>The first dirt was thrown at the northeast corner of the boy's dormitory, which is to be the farthest east of any building on the grounds. As Gov. Jarvis began throwing the dirt he said "We have met here to begin the foundation for a great institiution of learning that will be a power in Eastern North Carolina. I ask for you and those to come after you your hearty support of this institution. We never can begin to calculate the value it will be to North Carolina, especially to this eastern section, and more especially to Pitt county and Greenville. When those standing here live to be as "old as I am, you will look back with pride to the day when Pitt county and Greenville gave $50,000 each for the erection of this institution. One year from now you will see here a group of beautiful buildings, and in September, 1909, this great school will open. Then you will see four or five hundred beartiful girls in these beautiful buildings. Watch and see this prediction verified."</p>


<p>The sun was hurling hot shafts down upon the deads of those who had assembled, and just here Mrs. Jarvis interrupted "Dear, you have worked enough now. It too warm to do more.</p>


<p>"This is a work of love and not of labor," replied the "Grand Old Man" to the admonition of his good wife. He had been throwing dirt the whole time he was talking, not seeming to realize how oppressively warm the weather was, nor to heed the drops of perspiration falling from his face.</p>


<p>The ladies and gentlemen present then formed a semi-circle about Gov. Jarvis as he stood with shovel in hand, and a Photographer R.T. Evans took a picture of the group.</p>


<p>The contractors for the construction of the buildings, The Building & Lumber Co., of Greenville, are ready to go right ahead with the work, much of the material being already on the ground. There are to be four buildings that will present a combined frontage view of more than 700 feet, and the arrangement of these and of the grounds is to be most attractive. The adminstation building will be 178.4 x 126.8 three stories high with tall tower. The girl's dormitory will be 158 x 154.6 two stories, the boys dormitory 158 x 42, two stories & the refectory 50 x 100, basement and one story. The buildings will be modern in every particular. </p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Ground Broken for the School," <em>Daily Reflector</em> Greenville, July 2, 1908.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microforms</td>
  </tr>
</table>
