---
layout: ecu
title:  "Joseph F. Tayloe to Willima Blount Rodman"
customdate: "1907 March 19"
order: 7
---

{% include breadcrumbs.html %}

<h3>Joseph F. Tayloe, Dear Col [Col. W.B. Rodman], 19 March 1907</h3>

<p>
  Joseph Tayloe, Treasurer of Beaufort County, is in contact with William Blount Rodman, II who had been Mayor of Washington, N.C. (1891-1894), and was involved in state Democratic party politics through the last decade of the century. A graduate of U.N.C. and a prominent attorney, in 1903 he was appointed by the General Assembly to a committee to codify state law. Rodman had offered to give 20 acres of his own land for a site for the Eastern Training School if it would be located in Washington, N.C.
</p>

  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<b><a href="#transcription">Transcription for the images below:</a></b>

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/rodm/3RODM001.jpg">
      <img src="{{ site.baseurl }}/img/rodm/7RODM001.jpg" alt="Page 1" class="img-responsive" />
    </a>
  </div>
</div>

<hr/>

<b id="transcription">Transcription for the images above:</b>

<p>Office of Jos. F. Tayloe</p>

<p>Treasurer Beaufort County</p>

<p>Washington, N.C.</p>


<p>Washington, N.C. March 19, 1907</p>


<p>Col. W. B. Rodman</p>

<p>Charlotte N.C.</p>


<p>Dear Col.,</p>


<p>When I was in Raleigh you told me if we could get the Eastern Training School located in or near Washington you would contribute 20 acres of Cowper land as a sight [site] for same. I wish you would write me to this effect as I have to attend several school closings and I would like to have it to use as argument to show how one of the largest tax payers feels toward the proposition.</p>


<p>With best wishes I am.</p>


<p>Truly yours</p>


<p>Jos. F Tayloe </p>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Joseph F. Tayloe to Dear Col [William Blount Rodman], March 19, 1907, Washington, NC, William Blount Rodman Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>William Blount Rodman Papers, 329.61.e <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0329">View Collection Guide</a></td>
  </tr>
</table>
