---
layout: ecu
title:  "William Blount Rodman to Jos. F. Tayloe"
customdate: "1907 April 1"
order: 10
---

{% include breadcrumbs.html %}

<h3>William Blount Rodman, My dear Sir [Mr. Jos. F. Ta[y]loe], 1 April 1907</h3>

<p>
Joseph Tayloe, Treasurer of Beaufort County, is in contact with William Blount Rodman, II who had been Mayor of Washington, N.C. (1891-1894), and was involved in state Democratic party politics through the last decade of the century. A graduate of U.N.C. and a prominent attorney, in 1903 he was appointed by the General Assembly to a committee to codify state law. Rodman had offered to give 20 acres of his own land for a site for the Eastern Training School if it would be located in Washington, N.C.
</p>

  <label>Text and Image(s) from Manuscript</label><br/>

<b><a href="#transcription">Transcription for the images below:</a></b>

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{ site.baseurl }}/img/talo/3TALO001.jpg">
      <img src="{{ site.baseurl }}/img/talo/7TALO001.jpg" alt="Page 1" class="img-responsive" />
    </a>
  </div>
</div>

<hr/>

<b id="transcription">Transcription for the images above:</b>

<p>April 1, 1907.</p>

<p>Mr. Jos. F. Taloe [Tayloe],</p>

<p>Washington, N.C.</p>

<p>My dear Sir:-</p>

<p>Yours of the 19th received and contents of the same noted. I desire to say that if the committee having the matter in charge will locate the Eastern Training School at Washington, N.C., I will donate to them 20 acred of land, being part of my Anooser farm at the edge of Washington; the particular site to be selected be me. When they fail to use if for the School it is to revert to me.</p>

<p>Yours truly,</p>

<p>Copy to J.C. Rodman. </p>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>William Blount Rodman to My dear Sir [Joseph F. Tayloe], April 1, 1907, [Charlotte, NC], William Blount Rodman Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>William Blount Rodman Papers, 329.61.e <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0329">View Collection Guide</a></td>
  </tr>
</table>
