---
layout: ecu
title:  "The Wilson Normal"
customdate: "1901 March 5"
order: 2
---

{% include breadcrumbs.html %}

<h3>
  "The Wilson Normal: Delegation in Its Behalf Urge Its Establishment",
  <em>The News and Observer</em>, 5 March 1901
</h3>

<p>
  After meetings of the Wilson Delegation with the House and Senate Education
  Committees, John W. Jenkins of Raleigh, editor of the Raleigh Times spoke
  against the division of funds and forces of the State Normal College and the
  proposal was eventually rejected.
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>[Page 6]</p>

  <p>The Wilson Normal Delegation in Its Behalf Urge Its Establishment. </p>

  <p>Two Conferences With Senate Committee on, Education Mr. John Wilber Jenkins Opposes the Bill. </p>

  <p>The Wilson delegation, composed of ex-congressman I. A. Woodard, Col. John F. Bruton. Capt.F. W. Barnes, Mr. George W. Connor, Prof. Joseph Kinsey, Mr. George Hackney, County Superintendent J. W. Hayes, Editor C. W. Gold of the Wilson Times, and Superintendent A. P. Mangum, of the Wilson Graded schools who on Friday secured a favorable report from the House Educational Committee on Education, met the Senate Committe on Education twice yesterday, once just before the morning session and then immediately after the session closed. The morning meeting was first addressed at length by Judge Connor, the representative from Wilson, who explained the terms upon which a State Normal would be established at Wilson. For the $5,000 asked a Normal department would established, this to be under the control of seven directors to be appointed by the State Board of Education, end the buildings or parts of buildings to be used are furnished rent free to the State. The many advantages of Wilson were pointed out by Judge Connor dvho further said that though now the property is owned by a corporation that offers it rent free to the State, that if so desired it would donate the buildings. He urged a favorable report.</p>

  <p>Senator Woodard next addressed the committee, telling them of the new and modern buildings, the necessity for such a school in the East and the value of the opportunity offered the State. It being time for the Senate to meet the committee adjourned. </p>

  <p>Immediately after the close of the Senate session the committee again met, and listened to the strong arguments presented by Senator Woodard, Judge Connor, Messrs. E. P. Mangum, F. A. Woodard, Jno. F. Bruton and C. C. Daniels, of Wilson. In opposition to the views of the Wilson delegation the committee was adressed by Mr. John Wilber Jenkins, of Raleigh, who urged that it would be unwise to put money in schools here and there to interfere with the State Normal College. That on principle he was opposed to this division of funds and forces, and though regretting to do so he felt compelled to oppose a Normal for Wilson.</p>

  <p>On behalf of the Cullowhee High school, which now receives $2,000 annually from the State for a Normal department, the committee was addressed by Hon. Walter E. Moore, Speaker of the House, Senator James Gudger and Senator Candler. These gentlemen told of the good work done at Cullowhee and asked the committee to give them this year $5,000 extra for building and other purposes. </p>

  <p>After further remarks from the committee and the various gentleman present, the committee decided to take the matter up In executive session early next week. </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The Wilson Normal: Delegation in Its Behalf Urge Its Establishment," <em>The News and Observer</em> (Raleigh, NC), March 5, 1901.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microforms</td>
  </tr>
</table>
