---
layout: ecu
title:  "For an Eastern Normal"
customdate: "1901 March 2"
order: 1
---

{% include breadcrumbs.html %}

<h3>"For an Eastern Normal", <em>The News and Observer</em>, 2 March 1901</h3>

<p>
  The clipping notes the arrival of a delegation that will urge the passage of a
  bill making the Kinsey Seminary in Wilson as the State Normal school.
</p>
<div class="well">
  <label>Text from News-Article</label>
  <p>[Page 6]</p>

  <p>For an Eastern Normal.</p>

  <p>
    A delegation of Wilson citizens are expected to reach Raleigh today. The
    delegation comes for the purpose of urging the passage of a bill making the
    Kinsey Seminary, of Wilson, a State Normal. The delegation will work hard to
    this end; for they believe a Normal College for girls is needed in Eastern
    Carolina.
  </p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"For an Eastern Normal," <em>The News and Observer</em> (Raleigh, NC), 2 March 1901.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microforms</td>
  </tr>
</table>
